<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Course</servlet-name>
        <servlet-class>Course</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Skipper</servlet-name>
        <servlet-class>Skipper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bateau</servlet-name>
        <servlet-class>Bateau</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Course_JSON</servlet-name>
        <servlet-class>Course_JSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Skipper_JSON</servlet-name>
        <servlet-class>Skipper_JSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bateau_JSON</servlet-name>
        <servlet-class>Bateau_JSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Course</servlet-name>
        <url-pattern>/Course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Skipper</servlet-name>
        <url-pattern>/Skipper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bateau</servlet-name>
        <url-pattern>/Bateau</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Course_JSON</servlet-name>
        <url-pattern>/Course_JSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Skipper_JSON</servlet-name>
        <url-pattern>/Skipper_JSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bateau_JSON</servlet-name>
        <url-pattern>/Bateau_JSON</url-pattern>
    </servlet-mapping>
    <resource-ref>
        <description>postgreSQL Datasource</description>
        <res-ref-name>jdbc/postgres</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>*</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
